@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

.text-xs-regular .text-sm-regular .text-base-regular .text-1lg-regular .text-2lg-regular .text-1xl-regular .text-2xl-regular .text-3xl-regular .text-4xl-regular .text-5xl-regular {
    color: rgb(17, 17, 17);
    font-family: "Plus Jakarta Sans";
    font-weight: 400;
    line-height: 150%;
}
.text-sm-regular .text-base-regular .text-1lg-regular .text-2lg-regular .text-1xl-regular .text-2xl-regular{
    letter-spacing: -2%;
}
.text-3xl-regular .text-4xl-regular{
    letter-spacing: -3%;
}
.text-xs-regular{ 
    font-size: 12px;
    letter-spacing: -1%;
}
.text-sm-regular{ 
    font-size: 14px;
}
.text-base-regular{ 
    font-size: 16px;
}
.text-1lg-regular{ 
    font-size: 18px;
}
.text-2lg-regular{ 
    font-size: 20px;
}
.text-1xl-regular{ 
    font-size: 24px;
}
.text-2xl-regular{ 
    font-size: 32px;
}
.text-3xl-regular{ 
    font-size: 36px;
}
.text-4xl-regular{ 
    font-size: 40px;
}
.text-5xl-regular{ 
    font-size: 72px;
    letter-spacing: -4%;
}

.text-xs-medium .text-sm-medium .text-base-medium .text-1lg-medium .text-2lg-medium .text-1xl-medium .text-2xl-medium .text-3xl-medium .text-4xl-medium .text-5xl-medium {
    color: rgb(17, 17, 17);
    font-family: "Plus Jakarta Sans";
    font-weight: 500;
    line-height: 150%;
}
.text-xs-medium .text-sm-medium .text-base-medium .text-1lg-medium .text-2lg-medium .text-1xl-medium .text-2xl-medium{
    letter-spacing: -2%;
}
.text-3xl-medium .text-4xl-medium .text-5xl-medium{
    letter-spacing: -3%;
}
.text-xs-medium{ 
    font-size: 12px;
}
.text-sm-medium{ 
    font-size: 14px;
}
.text-base-medium{ 
    font-size: 16px;
}
.text-1lg-medium{ 
    font-size: 18px;
}
.text-2lg-medium{ 
    font-size: 20px;
}
.text-1xl-medium{ 
    font-size: 24px;
}
.text-2xl-medium{ 
    font-size: 32px;
}
.text-3xl-medium{ 
    font-size: 36px;
}
.text-4xl-medium{ 
    font-size: 40px;
}
.text-5xl-medium{ 
    font-size: 72px;
}

.text-xs-semibold .text-sm-semibold .text-base-semibold .text-1lg-semibold .text-2lg-semibold .text-1xl-semibold .text-2xl-semibold .text-3xl-semibold .text-4xl-semibold .text-5xl-semibold {
    color: rgb(17, 17, 17);
    font-family: "Plus Jakarta Sans";
    font-weight: 600;
    line-height: 150%;
}
.text-xs-semibold .text-sm-semibold .text-base-semibold .text-1lg-semibold .text-2lg-semibold .text-1xl-semibold {
    letter-spacing: -2%;
}
.text-2xl-semibold .text-3xl-semibold .text-4xl-semibold .text-5xl-semibold{
    letter-spacing: -3%;
}
.text-xs-semibold{ 
    font-size: 12px;
}
.text-sm-semibold{ 
    font-size: 14px;
}
.text-base-semibold{ 
    font-size: 16px;
}
.text-1lg-semibold{ 
    font-size: 18px;
}
.text-2lg-semibold{ 
    font-size: 20px;
}
.text-1xl-semibold{ 
    font-size: 24px;
}
.text-2xl-semibold{ 
    font-size: 32px;
}
.text-3xl-semibold{ 
    font-size: 36px;
}
.text-4xl-semibold{ 
    font-size: 40px;
}
.text-5xl-semibold{ 
    font-size: 72px;
}

.text-xs-bold .text-sm-bold .text-base-bold .text-1lg-bold .text-2lg-bold .text-1xl-bold .text-2xl-bold .text-3xl-bold .text-4xl-bold .text-5xl-bold {
    color: rgb(17, 17, 17);
    font-family: "Plus Jakarta Sans";
    font-weight: 700;
    line-height: 150%;
}
.text-xs-bold .text-xs-bold .text-base-bold {
    letter-spacing: -2%;
}
.text-1lg-bold .text-2lg-bold .text-1xl-bold .text-2xl-bold .text-3xl-bold .text-4xl-bold .text-5xl-bold{
    letter-spacing: -3%;
}
.text-xs-bold{ 
    font-size: 12px;
}
.text-sm-bold{ 
    font-size: 14px;
}
.text-base-bold{ 
    font-size: 16px;
}
.text-1lg-bold{ 
    font-size: 18px;
}
.text-2lg-bold{ 
    font-size: 20px;
}
.text-1xl-bold{ 
    font-size: 24px;
}
.text-2xl-bold{ 
    font-size: 32px;
}
.text-3xl-bold{ 
    font-size: 36px;
}
.text-4xl-bold{ 
    font-size: 40px;
}
.text-5xl-bold{ 
    font-size: 72px;
}