// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

// $primary   : #1976D2;
// $secondary : #26A69A;
// $accent    : #9C27B0;

// $dark      : #1D1D1D;
// $dark-page : #121212;

// $positive  : #21BA45;
// $negative  : #C10015;
// $info      : #31CCEC;
// $warning   : #F2C037;

$white: #FFFFFF;

$primary_dark_900: #10197A;
$primary_dark_800: #1A2793;
$primary_dark_700: #2A3BB7;
$primary_dark_600: #3D53DB;
$primary_default: #546FFF;

$primary_light_400: #9F84FD;
$primary_light_300: #98ABFF;
$primary_light_200: #BAC8FF;
$primary_light_100: #DCE4FF;


$secondary_dark_900: #040815;
$secondary_dark_800: #060713;
$secondary_dark_700: #0A0A18;
$secondary_dark_600: #0E0F1D;
$secondary_default: #141522;

$secondary_light_400: #54577A;
$secondary_light_300: #8E92BC;
$secondary_light_200: #C2C6E8;
$secondary_light_100: #DFE1F3;


$success_dark_900: #3B6506;
$success_dark_800: #4C7A0B;
$success_dark_700: #659711;
$success_dark_600: #7FB519;
$success_default: #9CD323;

$success_light_400: #BCE455;
$success_light_300: #D3F178;
$success_light_200: #E8FAA6;
$success_light_100: #F5FCD2;


$error_dark_900: #7A0619;
$error_dark_800: #930B16;
$error_dark_700: #B71112;
$error_dark_600: #DB2719;
$error_default: #FF4423;

$error_light_400: #FF7F59;
$error_light_300: #FFA37A;
$error_light_200: #FFC8A6;
$error_light_100: #FFE7D3;


$warning_dark_900: #7A4D08;
$warning_dark_800: #936312;
$warning_dark_700: #B7821D;
$warning_dark_600: #DBA32A;
$warning_default: #FFC73A;

$warning_light_400: #FFD96B;
$warning_light_300: #FFE488;
$warning_light_200: #FFEFB0;
$warning_light_100: #FFF8D7;


$information_dark_900: #102E7A;
$information_dark_800: #1A4393;
$information_dark_700: #2A60B7;
$information_dark_600: #3D81DB;
$information_default: #54A6FF;

$information_light_400: #7EC2FF;
$information_light_300: #98D3FF;
$information_light_200: #BAE6FF;
$information_light_100: #DCF3FF;